table {
  border-spacing: 10px;
}

td {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

img {
  border: 5px solid #555;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}